#cardContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 18.5% 18.5% 18.5%;
    gap: 4.5% ;
}
@media only screen and (max-width: 950px){
    #cardContainer{
        grid-template-columns: 60%;
        gap: 0.5%;
    }
}