#characters,
#location {
    font-size: 2vw;
    margin-top: 30%;
}

#btnRow {
    gap: 15%;
}

#description {
    font-size: 3.5vw;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 0 #323030, 4px 4px 0 #323030;
}

@media only screen and (max-width: 951px) {
    #cardInfo {
        font-size: 1vw;
        max-height: 20vh;
        min-width: 10vw;
    }
}

@media only screen and (max-width: 850px) {
    #description {
        font-size: 8vw;
    }
    #btnRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
    }
    #characters {
        font-size: 4vw;
    }

    #location {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 450px) {
    #description {
        font-size: 10vw;
    }
    #cardInfo {
        font-size: 5vw;
        max-height: 50vh;
        min-width: 50vw;
    }
    #btnRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
    }
    #characters {
        font-size: 6vw;
    }

    #location {
        font-size: 6vw;
    }
}
