#root {
    height: 100vh;
    width: 100vw;
}
.App{
    backdrop-filter: blur(2px);
    height: 100%;
    
}

@media only screen and (max-width: 950px) {
    #root {
        background-image: url('./img/bg_phone.jpg');
        background-size: cover;
        background-repeat: no-repeat;
   
    }
}

@media only screen and (min-width: 950px) {
    #root {
        background-image: url('./img/bg_pc.png');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
}

@media only screen and (max-width: 2000px) {
    #logo {
        width: 70vh;
        justify-content: center;
    }
}